@import "./reset.css";

body {
  background-color: rgb(153, 152, 152);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Manrope;
}

.wrapper {
  max-width: 300px;
  background-color: white;
  border-radius: 20px;
}

.container {
  height: 100%;

  
  padding: 1rem;
}

.head {
  background-color: black;
  border-radius: 20px 20px 10px 10px;
  color: white;
  letter-spacing: 1px;
}

.head>p{
    font-weight: 600;
    padding: 0 1rem;
}

.screen{
    padding: 50px 0 25px 0;
    margin: .4rem;
}

.screen p{
    text-align: right;
    
    color: rgb(155, 104, 202);
    font-weight: 700;
}

.screen input{
    text-align: right;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}

input:focus{
    outline: none;
}

.touchpad {
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border-color: rgb(246, 244, 244);
  border-width: 0.2px;
  background-color: transparent;
  border: medium none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buttons button:active {
  box-shadow: rgba(99, 99, 99, 0.15) -1.95px -1.95px 2.6px,
    rgba(99, 99, 99, 0.15) -1.95px -1.95px 2.6px;
}
