@import "./reset.css";

body {
  background-color: rgb(153, 152, 152);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Manrope;
  overflow-y: hidden;
}

.light-theme.wrapper {
  background-color: rgb(243, 243, 243);
}

.dark-theme.wrapper {
  background-color: rgb(29, 29, 29);
}

.wrapper {
  width: 300px;
  height: 580px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  padding: 0.7rem;
}

.light-theme.wrapper .head {
  background-color: rgb(18, 18, 18);
}

.dark-theme.wrapper .head {
  box-shadow: 0 4px 12px -2px rgb(0, 0, 0);
}

.head {
  border-radius: 20px 20px 10px 10px;
  color: white;
  letter-spacing: 0.0625rem;
  font-size: 1.1rem;
}

.head > p {
  font-weight: 600;
  padding: 0 1rem;
}

.screen {
  margin: 0.4rem;
  overflow: hidden;
}

#history {
  text-align: right;
  color: rgb(155, 104, 202);
  font-weight: 700;
  font-size: 0.8rem;
}

#input {
  text-align: right;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.touchpad {
  height: 65%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.light-theme.wrapper .buttons button {
  border-color: rgb(246, 244, 244);
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4f5f6,
    #f5f5f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4f5f6,
    #f5f5f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: rgb(255, 255, 255) -2.95px -2.95px 8.6px,
    rgba(255, 255, 255, 1) -2.95px -2.95px 8.6px,
    rgba(75, 75, 75, 0.2) 2.95px 2.95px 9.6px;
  color: rgb(66, 66, 66);
}

.dark-theme.wrapper .buttons button {
  background: rgb(29, 29, 29);
  box-shadow: rgba(74, 74, 74, 0.2) -2.95px -2.95px 6.6px,
    rgba(74, 74, 74, 0.2) -2.95px -2.95px 6.6px,
    rgba(0, 0, 0, 0.8) 2.95px 2.95px 9.6px;
  color: rgb(220, 220, 220);
}



.buttons button {
  height: 2.7rem;

  border-radius: 10px;

  border-width: 0.2px;

  border: medium none;
  font-size: 1.3rem;
  font-weight: 600;
}

#gray {
  font-weight: 500;
  color: rgb(110, 110, 110);
}

.buttons .smaller {
  font-size: 1.1rem;
}

#purple {
  background: rgb(155, 104, 202);
  color: white;
}

.light-theme.wrapper .buttons button:active {
  box-shadow: rgba(99, 99, 99, 0.15) -2.95px -2.95px 4.6px,
    rgba(99, 99, 99, 0.15) -2.95px -2.95px 4.6px;
}



/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.3rem;
  height: 2.7rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(237, 236, 236);
  box-shadow: inset 2px 5px 10px rgba(111, 111, 111, 0.3);
  transition: 0.4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.3rem;
  width: 0.2em;
  border-radius: 0px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(13, 13, 13);
}

input:checked + .slider:before {
  transform: translateX(2.6rem) rotate(360deg);
}




@media screen and (max-width: 900px) {
  html {
    font-size: 30px;
  }
  .wrapper {
    min-width: 100%;
    height: 100vh;
  }
  .buttons{
    gap: 34px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 22px;
  }
  .wrapper {
    min-width: 100%;
    height: 100vh;
  }
  .buttons{
    gap: 22px;
  }
  .switch{
    width: 2.9rem;
  }
  input:checked + .slider:before {
    transform: translateX(2.1rem) rotate(360deg);
  }
}

@media screen and (max-width: 350px){
  .buttons{
    gap: 16px;
  }
  .switch{
    width: 2.2rem
  }
  input:checked + .slider:before {
    transform: translateX(1.5rem) rotate(360deg);
  }
}

